# Python
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*/__pycache__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Agent / Local
brain/
tmp/
.agent/
